.search-container {
  display: flex;
  flex-direction: row;
}
.product-page-component {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-shop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}