.hero-container {
    width: 90%;
    height: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-container-1 {
    width: 90%;
    height: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    z-index: -1;
}
.hero-img {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-banner {
    position: absolute;
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}